<!-- <mat-card class="book-card" style= "background: url({{book.coverImage}});"> -->
<div class="base">
    <div class="wallet">
        <mat-card class="wallet__card">
            <mat-card-content class="wallet__card-content">
                <div class="d-flex-column" style=" padding:1.5rem;">
                    <span style="font-size:16px; margin-bottom:10px; color:gray">WALLET BALANCE</span>
                    <div class="d-flex-row" style="align-items: center;">
                        <span style="font-size:48px;">{{wallet.currentPoints}}</span> <img style="margin-left:5px; height:48px; width:48px;"src="assets/images/coin.png">
                    </div>
                </div>
                <div class="d-flex-column" style="color:gray; font-style: italic;">
                    <span>Conversion rate</span>
                    <div style="display:flex; align-items: center;">
                        <span>1 <span style="font-weight: 500;">SGD</span> = 10 </span> <img style="margin-left:5px; height:16px; width:16px;"src="assets/images/coin.png">
                    </div>
                </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-content class="wallet__card-actions">
                <button mat-flat-button color="accent" (click)="topUpWallet()">Top-up</button>
                <button mat-flat-button color="black" (click)="withdrawWallet()" style="margin-left: 15px;">Withdraw</button>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-divider style="margin: 1rem 0; margin-top:3rem;"></mat-divider>
    <h1 style="font-weight:500;">TRANSACTION HISTORY</h1>
    <div class="transaction-history">
        <table mat-table [dataSource]="tableData">
            <ng-container *ngFor="let column of columnsToDisplay; let i = index;"  matColumnDef="{{column}}">
                <th mat-header-cell *matHeaderCellDef> {{headingsToDisplay[i]}} </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="column ==='transactionType' else dateCol">
                        {{displayTransactionTypeLabel(element[column])}}
                    </div>
                    <ng-template #dateCol>
                        <div *ngIf="column ==='createdDate' else normalCol">
                            {{element[column] | date: 'dd MMM yyyy hh:mm a'}} 
                        </div>
                        <ng-template #normalCol>
                            {{element[column]}}
                        </ng-template>
                    </ng-template>
                  
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>


    </div>
<div>