<div class="base d-flex-column" style="padding:0;">
    <div class="search-bar-wrapper">
        <input class="search-bar" matInput type="search" placeholder="Search book titles, authors, genres...">
    </div>
    <div class="book-cards padding-wrap">
        <ng-container [ngTemplateOutlet]="books.length > 0 ? bookList : emptyList"></ng-container>
    </div>
</div>

<ng-template #bookList>
  <div class="grid" *ngFor="let book of books">
    <app-book-card [book]="book"></app-book-card>
  </div>
</ng-template>

<ng-template #emptyList>
  <div>
  </div>
</ng-template>
