@import '/src/scss/custom/variables';
@import '/src/scss/custom/responsive';


.search-bar-wrapper {
    display:flex;
    flex:3;

    min-height: 250px;
    align-items: center;
    justify-content: center;
    background: url("/assets/images/search-bar-background.jfif") ;
    // background-size: 100% 100%;
    .search-bar {
        width:50%;
        height:50px;
        border-radius: 50px;
        padding-left:15px;
        border: 0;
        background-color:white;
    }
    input:focus {
        outline: none;
    }

}

.book-cards {
    flex:7;
    padding:$padding;
}
.grid {
    width: 280px;

    display: inline-block;
    padding: 1rem 1rem;

}