.signup {
    &__input {
        width: 80%;
        &-short {
            max-width: 280px;
            width: 100%;
        }
    }
}

.form-fields {
    flex:1;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}