@import '/src/scss/variables/variables';
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:$padding;
    .logo {
        font-size:$logo-font-size;
        font-weight: bold;
    }
    .types {
        display:flex;
        font-weight: 500;
        a {
            font-size:16px;
            margin-left:30px;
            color: black;
            text-decoration: none;
        }
        a:hover {
            color:grey;
        }
    }
    .actions {
        display:flex;
        button {
            margin-left:20px;
        }
    }
}

.mat-publish {
    background-color: black;
    color: white;
}