<div class="header">
    <div class="logo" style="flex:1;"><a href="" style="text-decoration: none; color:black;">BOOKHAVEN</a></div>
    <div class="types" style="flex:8;">
        <a href="#">NEW RELEASE</a>
        <a href="#">POPULAR</a>
        <a href="#">GENRES</a>
    </div>
    <div class="actions" style="flex:1;">
        <button mat-stroked-button>0 &#169;</button>
        <button mat-raised-button color="publish">Publish</button>
        <button mat-raised-button>Login</button>
    </div>

</div>