.login-dialog {
    justify-content: center;
    a {
        text-decoration: none;
        color:#1877f2
    }
  
}

.login {
    &__input {
        width: 400px;
        &-short {
            max-width: 280px;
            width: 100%;
        }
    }
}
