.book-detail {
    background-color: white;
    padding:20px;
    &__header {
        display:flex;
        flex-direction: row;
        margin-bottom:20px;
        img {
            border-radius:5px;
            height: 350px;
            width:350px;
            max-height:350px;
            max-width: 350px;
            margin-right: 30px;
        }
        &__info {
            display:flex;
            flex-direction: column;
            width:100%;   
            height:100%;
        
            &__genre {
                color: white;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 500;
                padding: 8px;
                margin-right: 20px;
            }
        }
        &__summary {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }

    &__chapters {
        table {
            width: 100%;
        }
        .mat-row:hover {
            background-color: #F4F4F4;
            td {
                color: red;
                cursor: pointer;
            }
        }


        &__title-column {
            padding-left: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
    }
}

.mat-column-createdDate {
    width: 10%;
    padding-left:10px;
    text-align:center;
}

.mat-column-chapterNo {
    width: 2%;
    text-align:center;
}