@import '/src/scss/custom/variables';
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(46, 46, 46);
    color:white;
    // flex:2;
    // height:1
    padding:$padding;
    .links {
        display: flex;
        justify-content: flex-start;
        a {
            color:white;
            text-decoration: none;
            padding-left: $padding;
            padding-right:$padding;
      
        }
        a:not(:last-child) {
            border-right: 1px solid lightgray
        }
        a:hover {
            color:grey;
        }
    }
    .information {
        display:flex;
        flex-direction: column;
        span {
            text-align: right;
        }
    }
  
}