.book-card {
    cursor: pointer;
    border-radius: 20px;
    min-height:350px;
    background-color: rgb(54, 54, 54);
    img {
        height:250px;
    }
    color:white;
    .card-footer {
        display:flex;
        // position: absolute;
        flex-direction: row;
        justify-content: space-between;
        font-style: italic;
        // bottom:0;
        // margin-bottom:10px;
    }
}

