<!-- <mat-card class="book-card" style= "background: url({{book.coverImage}});"> -->
<mat-card class="book-card"
    [routerLink]="['book', book.bookId]"
>
    <mat-card-content class="card-header">
        <div style="display:flex; justify-content: space-between; align-items: center;">
            <mat-card-title>{{book.bookTitle}}</mat-card-title>
            <img style="height:40px; width:40px;" src="/assets/images/book-new.png">
        </div>
        <div style="display:flex; align-items: end;">
            <mat-icon style="color: #00dc64;" aria-hidden="false" aria-label="star">star</mat-icon>
            <span style="color: #00dc64;font-weight:500; margin-left:5px;">{{book.review | number:'1.2'}}</span>

        </div>

    </mat-card-content>
    <img class="cover-image" mat-card-image [src]="getCoverImage(book.coverImage)" alt="cover image">

    <mat-card-content class="card-footer">
        <span> {{ book.authorName}} </span>
        <span> {{ book.updatedDate | date: "dd MMMM yyyy" }} </span>
    </mat-card-content>
</mat-card>
